In [1]:
import pandas as pd

In [2]:
import glob

In [43]:
file_path = '생활이동_행정동_202306/*.csv'

In [44]:
file_list = glob.glob(file_path)

In [45]:
columns_to_keep = ['도착 행정동 코드','성별','나이', '이동인구(합)']

In [46]:
df_list = [pd.read_csv(file, usecols=columns_to_keep, encoding='euc-kr') for file in file_list]

In [47]:
df = pd.concat(df_list, ignore_index=True)

In [48]:
df.head()

   도착 행정동 코드 성별  나이 이동인구(합)
0    1101053  F  15    8.08
1    1101053  F  20    4.39
2    1101053  F  20    4.36
3    1101053  F  25    6.16
4    1101053  F  25    4.09

In [49]:
# CSV 파일로 저장
df.to_csv("D:/생활이동_행정동_202306/202306.csv", index=False, encoding='euc-kr')