In [3]:
import pandas as pd
import numpy as np

In [73]:
pd.set_option('display.max_columns', 100)

In [9]:
df_yes = pd.read_csv('table/최종 데이터(yes service).csv')
df_no = pd.read_csv('table/최종 데이터(no service).csv')

In [11]:
df_yes

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_20s_sales_amount,age_30s_sales_amount,age_40s_sales_amount,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count
0,20222,송파구 위례동,외국어학원,31.0,3.0,0.28,29,5,34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,9.0,1.0
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,1943124.0,3.472889e+06,9.162403e+06,4323790.0,1250947.0,7.163512e+06,1.314281e+07,17.0,5.0,0.0
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,334010076.0,1.107831e+09,7.320731e+08,278566962.0,141244414.0,1.121100e+09,1.497307e+09,37.0,5.0,2.0
3,20223,송파구 위례동,예술학원,17.0,2.0,0.15,46,2,48,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,8.0,1.0
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498811,20234,송파구 가락1동,패스트푸드점,33.0,67.0,-0.33,3,2,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0
498812,20234,송파구 가락1동,외국어학원,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0
498813,20234,송파구 가락1동,편의점,100.0,0.0,1.00,1,12,13,5.947351e+09,...,765336862.0,1.708174e+09,1.861864e+09,971530584.0,424961960.0,4.652217e+09,1.088981e+09,13.0,1.0,0.0
498814,20234,송파구 가락1동,일반의류,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0
498815,20234,송파구 가락1동,한복점,100.0,0.0,1.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0

In [13]:
df_no

,quarter,dong,pop_total,pop_male,pop_female,pop_floating,visitor_facility_count,avg_monthly_income,total_expenditure,monthly_rent_per_pyeong
0,20211,중구 명동,8749,3737,5012,8402492,542,3733600,46546968000,180600.0
1,20212,중구 명동,8644,3733,4911,10284398,542,3733600,55297008000,171684.0
2,20213,중구 명동,8580,3746,4834,9011375,542,3733600,55509810000,179329.0
3,20214,중구 명동,8625,3772,4853,11323327,542,3733600,63917672000,189983.0
4,20221,중구 명동,8597,3749,4848,9344018,542,3733600,62275801000,197310.0
...,...,...,...,...,...,...,...,...,...,...
5973,20232,종로구 종로5.6가동,16282,8588,7694,5466638,212,2531450,9406493000,293452.0
5974,20233,종로구 종로5.6가동,16272,8585,7687,4934033,212,2531450,8717278000,293318.0
5975,20234,종로구 종로5.6가동,16169,8514,7655,5069880,212,2531450,9876132000,297493.0
5976,20241,종로구 종로5.6가동,16061,8441,7620,4692154,212,2531450,3164045000,296837.0
5977,20242,종로구 종로5.6가동,16015,8414,7601,4991461,212,2531450,10086352000,277462.0

In [15]:
# 서비스 대분류 생성 함수 수정 및 적용
def categorize_service(service_name):
    if '학원' in service_name or '독서실' in service_name or '컴퓨터학원' in service_name:
        return '교육업'
    elif ('슈퍼마켓' in service_name or '편의점' in service_name or '판매' in service_name or
          '의약품' in service_name or '서적' in service_name or '화장품' in service_name or 
          '가방' in service_name or '시계' in service_name or '핸드폰' in service_name or
          '중고차판매' in service_name or '가전제품' in service_name or '가구' in service_name or
          '청과상' in service_name or '육류' in service_name or '수산물' in service_name):
        return '소매업'
    elif ('음식점' in service_name or '커피' in service_name or '음료' in service_name or 
          '제과점' in service_name or '패스트푸드' in service_name or '분식' in service_name or
          '치킨' in service_name or '호프' in service_name or '간이주점' in service_name):
        return '음식업'
    elif ('의원' in service_name or '병원' in service_name or '의료' in service_name or
          '동물병원' in service_name or '한의원' in service_name):
        return '의료업'
    elif ('부동산' in service_name or '법무' in service_name or '여행사' in service_name or
          '통번역' in service_name or '청소' in service_name or '세무' in service_name or
          '변호사' in service_name or '회계사' in service_name or '변리사' in service_name):
        return '서비스업'
    elif ('PC방' in service_name or '당구장' in service_name or '골프' in service_name or 
          '스포츠' in service_name or '노래방' in service_name or '볼링장' in service_name or
          'DVD방' in service_name or '비디오' in service_name or '오락장' in service_name):
        return '레저/여가업'
    else:
        return '기타'

# 새로운 열 추가
df_yes['major'] = df_yes['service'].apply(categorize_service)

In [17]:
df_yes

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_30s_sales_amount,age_40s_sales_amount,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major
0,20222,송파구 위례동,외국어학원,31.0,3.0,0.28,29,5,34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,34.0,9.0,1.0,교육업
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,3.472889e+06,9.162403e+06,4323790.0,1250947.0,7.163512e+06,1.314281e+07,17.0,5.0,0.0,소매업
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,1.107831e+09,7.320731e+08,278566962.0,141244414.0,1.121100e+09,1.497307e+09,37.0,5.0,2.0,음식업
3,20223,송파구 위례동,예술학원,17.0,2.0,0.15,46,2,48,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,8.0,1.0,교육업
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,60.0,5.0,3.0,음식업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498811,20234,송파구 가락1동,패스트푸드점,33.0,67.0,-0.33,3,2,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,음식업
498812,20234,송파구 가락1동,외국어학원,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0,교육업
498813,20234,송파구 가락1동,편의점,100.0,0.0,1.00,1,12,13,5.947351e+09,...,1.708174e+09,1.861864e+09,971530584.0,424961960.0,4.652217e+09,1.088981e+09,13.0,1.0,0.0,소매업
498814,20234,송파구 가락1동,일반의류,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0,기타
498815,20234,송파구 가락1동,한복점,100.0,0.0,1.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,기타

In [21]:
df_yes[df_yes['major']=='기타'].head()

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_30s_sales_amount,age_40s_sales_amount,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major
6,20211,종로구 위례동,전자상거래업,16.0,0.0,0.16,83,1,84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.0,13.0,0.0,기타
10,20212,종로구 위례동,전자상거래업,17.0,0.0,0.17,100,1,101,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,101.0,17.0,0.0,기타
12,20213,종로구 위례동,전자상거래업,8.0,0.0,0.08,109,1,110,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,110.0,9.0,0.0,기타
17,20214,종로구 위례동,전자상거래업,29.0,1.0,0.28,149,2,151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,151.0,43.0,2.0,기타
31,20221,송파구 위례동,복권방,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,0.0,기타

In [31]:
gentrification_categories = ['음식업', '소매업']
df_gentrification = df_yes[df_yes['major'].isin(gentrification_categories)]

In [33]:
df_gentrification = df_yes.copy()

In [49]:
# '음식업'과 '소매업'만을 사용하여 LQ 지수를 계산하고 필요한 파생 변수를 생성
# 먼저 특정 분기 서울시 전체 점포 수와 행정동별 점포수를 계산

df_gentrification['seoul_total_store_cnt'] = df_gentrification.groupby(['quarter'])['store_count'].transform('sum')
df_gentrification['dong_total_store_cnt'] = df_gentrification.groupby(['quarter', 'dong'])['store_count'].transform('sum')
df_gentrification.head(50)

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major,seoul_total_store_cnt,dong_total_store_cnt
0,20222,송파구 위례동,외국어학원,31.0,3.0,0.28,29,5,34,NaN,...,NaN,NaN,NaN,NaN,34.0,9.0,1.0,교육업,601118,833
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,4323790.0,1250947.0,7.163512e+06,1.314281e+07,17.0,5.0,0.0,소매업,601118,833
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,278566962.0,141244414.0,1.121100e+09,1.497307e+09,37.0,5.0,2.0,음식업,595752,854
3,20223,송파구 위례동,예술학원,17.0,2.0,0.15,46,2,48,NaN,...,NaN,NaN,NaN,NaN,48.0,8.0,1.0,교육업,595752,854
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,NaN,NaN,NaN,60.0,5.0,3.0,음식업,542379,681
5,20211,종로구 위례동,부동산중개업,6.0,1.0,0.05,94,0,94,NaN,...,NaN,NaN,NaN,NaN,94.0,6.0,1.0,서비스업,542379,681
6,20211,종로구 위례동,전자상거래업,16.0,0.0,0.16,83,1,84,NaN,...,NaN,NaN,NaN,NaN,84.0,13.0,0.0,기타,542379,681
7,20212,종로구 위례동,한식음식점,20.0,9.0,0.11,45,20,65,NaN,...,NaN,NaN,NaN,NaN,65.0,9.0,4.0,음식업,552315,712
8,20212,종로구 위례동,커피-음료,24.0,5.0,0.19,21,10,31,NaN,...,NaN,NaN,NaN,NaN,31.0,5.0,1.0,음식업,552315,712
9,20212,종로구 위례동,부동산중개업,5.0,2.0,0.03,97,0,97,NaN,...,NaN,NaN,NaN,NaN,97.0,5.0,2.0,서비스업,552315,712
10,20212,종로구 위례동,전자상거래업,17.0,0.0,0.17,100,1,101,NaN,...,NaN,NaN,NaN,NaN,101.0,17.0,0.0,기타,552315,712
11,20213,종로구 위례동,편의점,500.0,100.0,4.00,1,24,25,NaN,...,NaN,NaN,NaN,NaN,25.0,5.0,1.0,소매업,561547,724
12,20213,종로구 위례동,전자상거래업,8.0,0.0,0.08,109,1,110,NaN,...,NaN,NaN,NaN,NaN,110.0,9.0,0.0,기타,561547,724
13,20214,종로구 위례동,한식음식점,16.0,6.0,0.10,51,20,71,NaN,...,NaN,NaN,NaN,NaN,71.0,8.0,3.0,음식업,578102,805
14,20214,종로구 위례동,커피-음료,26.0,16.0,0.11,19,11,30,NaN,...,NaN,NaN,NaN,NaN,30.0,5.0,3.0,음식업,578102,805
15,20214,종로구 위례동,일반교습학원,12.0,2.0,0.10,41,6,47,NaN,...,NaN,NaN,NaN,NaN,47.0,5.0,1.0,교육업,578102,805
16,20214,종로구 위례동,부동산중개업,10.0,3.0,0.07,104,0,104,NaN,...,NaN,NaN,NaN,NaN,104.0,10.0,3.0,서비스업,578102,805
17,20214,종로구 위례동,전자상거래업,29.0,1.0,0.28,149,2,151,NaN,...,NaN,NaN,NaN,NaN,151.0,43.0,2.0,기타,578102,805
18,20221,송파구 위례동,일식음식점,0.0,11.0,-0.11,9,4,13,1.718366e+08,...,23497347.0,12881022.0,8.955180e+07,5.741040e+07,13.0,0.0,1.0,음식업,600033,805
19,20221,송파구 위례동,제과점,0.0,0.0,0.00,12,6,18,4.929128e+08,...,81608676.0,56354650.0,1.882324e+08,2.788060e+08,18.0,0.0,0.0,음식업,600033,805
20,20221,송파구 위례동,패스트푸드점,0.0,0.0,0.00,5,6,11,NaN,...,NaN,NaN,NaN,NaN,11.0,0.0,0.0,음식업,600033,805
21,20221,송파구 위례동,일반교습학원,0.0,0.0,0.00,41,6,47,3.393580e+07,...,362068.0,0.0,1.077934e+07,2.315646e+07,47.0,0.0,0.0,교육업,600033,805
22,20221,송파구 위례동,일반의원,0.0,0.0,0.00,10,0,10,2.042830e+08,...,21047130.0,11940493.0,9.662895e+07,1.076540e+08,10.0,0.0,0.0,의료업,600033,805
23,20221,송파구 위례동,치과의원,0.0,0.0,0.00,5,0,5,NaN,...,NaN,NaN,NaN,NaN,5.0,0.0,0.0,의료업,600033,805
24,20221,송파구 위례동,한의원,0.0,0.0,0.00,5,0,5,NaN,...,NaN,NaN,NaN,NaN,5.0,0.0,0.0,의료업,600033,805
25,20221,송파구 위례동,동물병원,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,의료업,600033,805
26,20221,송파구 위례동,기타법무서비스,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,서비스업,600033,805
27,20221,송파구 위례동,세무사사무소,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,서비스업,600033,805
28,20221,송파구 위례동,당구장,0.0,25.0,-0.25,4,0,4,NaN,...,NaN,NaN,NaN,NaN,4.0,0.0,1.0,레저/여가업,600033,805
29,20221,송파구 위례동,골프연습장,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,레저/여가업,600033,805
30,20221,송파구 위례동,PC방,0.0,100.0,-1.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,1.0,레저/여가업,600033,805
31,20221,송파구 위례동,복권방,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,기타,600033,805
32,20221,송파구 위례동,통신기기수리,0.0,100.0,-1.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,1.0,기타,600033,805
33,20221,송파구 위례동,스포츠클럽,0.0,0.0,0.00,4,0,4,NaN,...,NaN,NaN,NaN,NaN,4.0,0.0,0.0,레저/여가업,600033,805
34,20221,송파구 위례동,자동차수리,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,기타,600033,805
35,20221,송파구 위례동,자동차미용,0.0,0.0,0.00,3,0,3,NaN,...,NaN,NaN,NaN,NaN,3.0,0.0,0.0,기타,600033,805
36,20221,송파구 위례동,미용실,0.0,0.0,0.00,25,4,29,2.640705e+08,...,45668403.0,18940254.0,1.188389e+08,1.452316e+08,29.0,0.0,0.0,기타,600033,805
37,20221,송파구 위례동,세탁소,0.0,0.0,0.00,4,1,5,1.959504e+07,...,1859517.0,1420549.0,6.712550e+06,1.072423e+07,5.0,0.0,0.0,기타,600033,805
38,20221,송파구 위례동,가전제품수리,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,소매업,600033,805
39,20221,송파구 위례동,부동산중개업,0.0,4.0,-0.04,100,0,100,NaN,...,NaN,NaN,NaN,NaN,100.0,0.0,4.0,서비스업,600033,805
40,20221,송파구 위례동,게스트하우스,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,기타,600033,805
41,20221,송파구 위례동,독서실,0.0,0.0,0.00,5,0,5,NaN,...,NaN,NaN,NaN,NaN,5.0,0.0,0.0,교육업,600033,805
42,20221,송파구 위례동,녹음실,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,기타,600033,805
43,20221,송파구 위례동,사진관,0.0,0.0,0.00,4,0,4,NaN,...,NaN,NaN,NaN,NaN,4.0,0.0,0.0,기타,600033,805
44,20221,송파구 위례동,통번역서비스,0.0,0.0,0.00,3,0,3,NaN,...,NaN,NaN,NaN,NaN,3.0,0.0,0.0,서비스업,600033,805
45,20221,송파구 위례동,건축물청소,0.0,0.0,0.00,5,0,5,NaN,...,NaN,NaN,NaN,NaN,5.0,0.0,0.0,서비스업,600033,805
46,20221,송파구 위례동,여행사,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,서비스업,600033,805
47,20221,송파구 위례동,슈퍼마켓,0.0,0.0,0.00,10,2,12,2.680255e+07,...,6594701.0,2457598.0,1.005132e+07,1.593144e+07,12.0,0.0,0.0,소매업,600033,805
48,20221,송파구 위례동,컴퓨터및주변장치판매,0.0,0.0,0.00,2,0,2,NaN,...,NaN,NaN,NaN,NaN,2.0,0.0,0.0,소매업,600033,805
49,20221,송파구 위례동,핸드폰,0.0,0.0,0.00,11,0,11,NaN,...,NaN,NaN,NaN,NaN,11.0,0.0,0.0,소매업,600033,805

In [61]:
# 음식업 데이터 필터링 및 외식업 점포 비율 LQ 지수 계산
food_service_df = df_gentrification[df_gentrification['major'] == '음식업'].copy()

food_service_df['food_store_cnt'] = food_service_df.groupby(['quarter', 'dong'])['store_count'].transform('sum')
food_service_df['food_store_total_cnt'] = food_service_df.groupby('quarter')['store_count'].transform('sum')
food_service_df['food_service_lq'] = (food_service_df['food_store_cnt'] / food_service_df['dong_total_store_cnt']) / (
food_service_df['food_store_total_cnt'] / food_service_df['seoul_total_store_cnt'])

food_service_df

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major,seoul_total_store_cnt,dong_total_store_cnt,food_store_cnt,food_store_total_cnt,food_service_lq
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,1.497307e+09,37.0,5.0,2.0,음식업,595752,854,142,126451,0.783382
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,60.0,5.0,3.0,음식업,542379,681,115,115736,0.791380
7,20212,종로구 위례동,한식음식점,20.0,9.0,0.11,45,20,65,NaN,...,NaN,65.0,9.0,4.0,음식업,552315,712,124,117074,0.821614
8,20212,종로구 위례동,커피-음료,24.0,5.0,0.19,21,10,31,NaN,...,NaN,31.0,5.0,1.0,음식업,552315,712,124,117074,0.821614
13,20214,종로구 위례동,한식음식점,16.0,6.0,0.10,51,20,71,NaN,...,NaN,71.0,8.0,3.0,음식업,578102,805,135,118814,0.815971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498746,20234,송파구 가락1동,호프-간이주점,0.0,0.0,0.00,3,2,5,8.580000e+08,...,1.563670e+08,5.0,0.0,0.0,음식업,598852,3346,210,132231,0.284236
498747,20234,송파구 가락1동,커피-음료,0.0,13.0,-0.13,16,9,25,9.389637e+08,...,2.593058e+08,25.0,0.0,2.0,음식업,598852,3346,210,132231,0.284236
498804,20234,송파구 가락1동,분식전문점,6.0,28.0,-0.22,32,3,35,4.286859e+08,...,6.904647e+07,35.0,2.0,9.0,음식업,598852,3346,210,132231,0.284236
498810,20234,송파구 가락1동,일식음식점,1.0,0.0,0.01,68,2,70,NaN,...,NaN,70.0,1.0,0.0,음식업,598852,3346,210,132231,0.284236
498811,20234,송파구 가락1동,패스트푸드점,33.0,67.0,-0.33,3,2,5,NaN,...,NaN,5.0,1.0,2.0,음식업,598852,3346,210,132231,0.284236

In [65]:
# 소매업 데이터 필터링 및 소매업 점포 비율 LQ 지수 계산
retail_df = df_gentrification[df_gentrification['major'] == '소매업'].copy()

retail_df['food_store_cnt'] = retail_df.groupby(['quarter', 'dong'])['store_count'].transform('sum')
retail_df['food_store_total_cnt'] = retail_df.groupby('quarter')['store_count'].transform('sum')
retail_df['retail_lq'] = (retail_df['food_store_cnt'] / retail_df['dong_total_store_cnt']) / (
retail_df['food_store_total_cnt'] / retail_df['seoul_total_store_cnt'])

retail_df

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major,seoul_total_store_cnt,dong_total_store_cnt,food_store_cnt,food_store_total_cnt,retail_lq
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,1.314281e+07,17.0,5.0,0.0,소매업,601118,833,102,99790,0.737612
11,20213,종로구 위례동,편의점,500.0,100.0,4.00,1,24,25,NaN,...,NaN,25.0,5.0,1.0,소매업,561547,724,91,95887,0.736087
38,20221,송파구 위례동,가전제품수리,0.0,0.0,0.00,2,0,2,NaN,...,NaN,2.0,0.0,0.0,소매업,600033,805,96,99740,0.717433
47,20221,송파구 위례동,슈퍼마켓,0.0,0.0,0.00,10,2,12,2.680255e+07,...,1.593144e+07,12.0,0.0,0.0,소매업,600033,805,96,99740,0.717433
48,20221,송파구 위례동,컴퓨터및주변장치판매,0.0,0.0,0.00,2,0,2,NaN,...,NaN,2.0,0.0,0.0,소매업,600033,805,96,99740,0.717433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498799,20234,송파구 가락1동,중고차판매,0.0,0.0,0.00,1,0,1,NaN,...,NaN,1.0,0.0,0.0,소매업,598852,3346,2523,101791,4.436101
498801,20234,송파구 가락1동,재생용품 판매점,0.0,0.0,0.00,1,0,1,NaN,...,NaN,1.0,0.0,0.0,소매업,598852,3346,2523,101791,4.436101
498806,20234,송파구 가락1동,슈퍼마켓,4.0,2.0,0.02,49,3,52,2.339024e+10,...,9.858113e+09,52.0,2.0,1.0,소매업,598852,3346,2523,101791,4.436101
498809,20234,송파구 가락1동,청과상,0.0,1.0,0.00,1621,0,1621,NaN,...,NaN,1621.0,3.0,9.0,소매업,598852,3346,2523,101791,4.436101
498813,20234,송파구 가락1동,편의점,100.0,0.0,1.00,1,12,13,5.947351e+09,...,1.088981e+09,13.0,1.0,0.0,소매업,598852,3346,2523,101791,4.436101

In [67]:
# 프랜차이즈 비율 LQ 지수 계산 (모든 데이터 사용)

df_gentrification['seoul_total_frc_cnt'] = df_gentrification.groupby(['quarter'])['franchise_count'].transform('sum')
df_gentrification['dong_total_frc_cnt'] = df_gentrification.groupby(['quarter', 'dong'])['franchise_count'].transform('sum')
df_gentrification['franchise_lq'] = (df_gentrification['dong_total_frc_cnt'] / df_gentrification['dong_total_store_cnt']) / (
    df_gentrification['seoul_total_frc_cnt'] / df_gentrification['seoul_total_store_cnt'])

df_gentrification['franchise_lq']

0         2.018865
1         2.018865
2         1.931098
3         1.931098
4         2.203554
            ...
498811    0.216724
498812    0.216724
498813    0.216724
498814    0.216724
498815    0.216724
Name: franchise_lq, Length: 498816, dtype: float64

In [69]:
# 청년층 매출액 비율 LQ 지수 계산 (모든 데이터 사용)
df_gentrification['youth_sales_amount'] = (
    df_gentrification['age_10s_sales_amount'] +
    df_gentrification['age_20s_sales_amount'] +
    df_gentrification['age_30s_sales_amount']
)
df_gentrification['seoul_total_sales'] = df_gentrification.groupby(['quarter'])['current_month_sales_amount'].transform('sum')
df_gentrification['dong_total_sales'] = df_gentrification.groupby(['quarter', 'dong'])['current_month_sales_amount'].transform('sum')
df_gentrification['seoul_total_youth_sales'] = df_gentrification.groupby(['quarter'])['youth_sales_amount'].transform('sum')
df_gentrification['dong_total_youth_sales'] = df_gentrification.groupby(['quarter', 'dong'])['youth_sales_amount'].transform('sum')
df_gentrification['youth_sales_lq'] = (df_gentrification['dong_total_youth_sales'] / df_gentrification['dong_total_sales']) / (
    df_gentrification['seoul_total_youth_sales'] / df_gentrification['seoul_total_sales'])

df_gentrification['youth_sales_lq']

0         1.326313
1         1.326313
2         1.354170
3         1.354170
4              NaN
            ...
498811    0.679272
498812    0.679272
498813    0.679272
498814    0.679272
498815    0.679272
Name: youth_sales_lq, Length: 498816, dtype: float64

In [77]:
# 순증가율 (개업수-폐업수)
df_gentrification['open_store_total_count'] = df_gentrification.groupby(['quarter', 'dong'])['open_store_count'].transform('sum')
df_gentrification['closed_store_total_count'] = df_gentrification.groupby(['quarter', 'dong'])['closed_store_count'].transform('sum')
df_gentrification['total_net_growth_rate'] = ((df_gentrification['open_store_total_count'] / df_gentrification['dong_total_store_cnt']) 
    - (df_gentrification['closed_store_count'] / df_gentrification['dong_total_store_cnt']))*100

df_gentrification['total_net_growth_rate']

0         5.762305
1         5.882353
2         6.440281
3         6.557377
4         8.810573
            ...
498811    0.537956
498812    0.597729
498813    0.597729
498814    0.597729
498815    0.597729
Name: total_net_growth_rate, Length: 498816, dtype: float64

In [79]:
# 필요한 열 병합하여 lq 지수 테이블 산출
food_service_lq_df = food_service_df[['dong', 'quarter', 'food_service_lq']].drop_duplicates()

retail_lq_df = retail_df[['dong', 'quarter', 'retail_lq']].drop_duplicates()

franchise_lq_df = df_gentrification[['dong', 'quarter', 'franchise_lq']].drop_duplicates()

youth_sales_lq_df = df_gentrification[['dong', 'quarter', 'youth_sales_lq']].drop_duplicates()

net_growth_rate_df = df_gentrification[['dong', 'quarter', 'total_net_growth_rate']].drop_duplicates()

final_lq_df = food_service_lq_df.merge(
    retail_lq_df, on=['dong', 'quarter'], how='outer'
).merge(
    franchise_lq_df, on=['dong', 'quarter'], how='outer'
).merge(
    youth_sales_lq_df, on=['dong', 'quarter'], how='outer'
).merge(
    net_growth_rate_df, on=['dong', 'quarter'], how='outer'
)

# 행정동명 오타 수정
final_lq_df['dong'] = final_lq_df['dong'].replace('종로구 위례동', '송파구 위례동')

In [81]:
final_lq_df

,dong,quarter,food_service_lq,retail_lq,franchise_lq,youth_sales_lq,total_net_growth_rate
0,강남구 개포1동,20221,0.326407,1.382552,0.470243,0.022843,0.000000
1,강남구 개포1동,20221,0.326407,1.382552,0.470243,0.022843,-0.621118
2,강남구 개포1동,20221,0.326407,1.382552,0.470243,0.022843,-1.242236
3,강남구 개포1동,20222,0.322402,1.384358,0.471222,0.285831,0.000000
4,강남구 개포1동,20223,0.321892,1.379730,0.472764,0.096654,0.621118
...,...,...,...,...,...,...,...
29859,중랑구 중화2동,20242,1.294261,1.025778,0.815733,0.797195,1.614274
29860,중랑구 중화2동,20242,1.294261,1.025778,0.815733,0.797195,2.463891
29861,중랑구 중화2동,20242,1.294261,1.025778,0.815733,0.797195,2.378929
29862,중랑구 중화2동,20242,1.294261,1.025778,0.815733,0.797195,2.293968
29863,중랑구 중화2동,20242,1.294261,1.025778,0.815733,0.797195,2.124044

In [83]:
final_lq_df.to_csv('final_lq_yes.csv', encoding = 'utf-8')